<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <h1> Stupid coaching!</h1>
      <p>Ask your coach anything</p>
      <form class = "d-flex my-5" action="/answer" method="get">
        <input type="text" name="question"class="form-control flex-grow-1 me-2" placeholder="Your question" >
        <input type="submit" value="Ask!" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>
